*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;

}
/************************************************ HEADER */
/* header *{
    border: blue solid 1px;
} */
header {
    background-color: black;

}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    height: 80px;
    overflow-y: hidden;
}
/* ????????????????????????????? logo */
.logo_img{
    width: 15%;
    cursor: pointer;
}
.logo_img img{
    height: 250px;
    width: 100%;
    margin: -125px 0 0 -100px;
    transform: scale(0.2);
    transform: translate(100px, 50px);
}
/* ????????????????????????????? nav_bar */
.nav_bar {
    font-size: 20px;
    align-self: center;
    color: white;
}
.nav_bar ul li{
    padding: 0 10px;
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
    list-style: none;

}
.nav_bar ul li:hover{
    color: crimson;
    border: crimson 2px solid;
    transform: scale(1.5);
    border-radius: 10px;
}
/* ????????????????????????????? search */
.search{
    height: 50px;
    /* background-color: chartreuse; */
    align-self: center;
}
.search input {
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    border-color: crimson;
}
.search button {
    height: 50px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: bolder;
    margin-right: 100px;
    color: crimson;
}

label {
    display: none;
}

/************************************************ MAIN */
main{
    max-width: 1500px;
    margin: auto;
    margin-top: 0;
}
.movie_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ?????????????????????????????  card */
.card {
    height: 345px;
    width: 230px;
        /* border: 2px white solid; */
    margin: 20px;
    position: relative;
    padding: 10px 5px;
    text-align: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: crimson;
    opacity :0.9 ;
    overflow: hidden;
    width: calc(100% - 10px);
    height: 0;
    transition: .5s ease;
    padding: 0 5px;
}
  
.card:hover .overlay {
    height: calc(100% - 14px);
}
.poster {
    display: block;
    width: 100%;
    height: auto;
}
.card ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.card ul li {
    font-weight: normal;
    list-style: none;
}
p.title {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
} 
.fa-star {
    padding: 5px 7px;
    color: yellow;
}
.voto_star {
    background-color: black;
    border-radius: 10px;
    margin: 0 20px;
}

.line_clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line_clamp6{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line_clamp6 p {
    text-align: start;

}
.language{
    width:30px;
    margin: -7px 0;
}


/* ?????????????????????????????  messaggio di errore */

.error_message{
    width: 50%;
    font-size: 35px;
    text-align: center;
    color: crimson;
    margin: auto;
    text-shadow: 0px 3px 2px rgb(109, 0, 0);
    margin-top: 100px;
}
.here_but_not {
    display: none;
}